{{/*
<html>
    <body>*/}}
        <div class="ui inverted vertical footer segment">
            <div class="ui inverted grid">
                <div class="eight wide column">
                    <p class="inverted">© 2019 Anonymoe v{{AppVer}}</p>
                </div>
                <div class="eight wide column">
                    <p class="inverted right aligned">Source available on <a target="_blank" rel="noopener noreferrer" href="https://github.com/philtyl/anonymoe">GitHub</a></p>
                </div>
            </div>
        </div>
    </body>

    <!-- Third-party libraries -->
    <script src="{{AppURL}}/js/clipboard-2.0.4.min.js"></script>
</html>