{{/*
<html>
<body>
	<div>
*/}}
</div>
<footer>
    <div class="ui container">
        <div class="ui left">
            © 2019 Anonymoe v{{AppVer}}
        </div>
        <div class="ui right links">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/philtyl/anonymoe">GitHub Source</a>
        </div>
    </div>
</footer>
</body>

<!-- Third-party libraries -->
<script src="{{AppURL}}/js/clipboard-2.0.4.min.js"></script>
</html>