<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="author" content="Anonymoe" />
    <meta name="description" content="Anonymoe is an open source anonymous password-less email client." />
    <meta name="keywords" content="anonymoe, email, anonymous, mail">
    <meta name="referrer" content="no-referrer" />

    <!-- Open Graph Tags -->
    <meta property="og:url" content="{{AppURL}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Anonymoe">
    <meta property="og:description" content="Anonymoe is an open source anonymous password-less email client.">
    <meta property="og:image" content="{{AppURL}}/img/anony-lg.png" />
    <meta property="og:site_name" content="Gogs">

    <link rel="shortcut icon" href="{{AppURL}}/img/favicon.png" />

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{AppURL}}/css/semantic-2.4.1.min.css">
    <link rel="stylesheet" type="text/css" href="{{AppURL}}/css/anony.css?v={{MD5 AppVer}}">

    <!-- JavaScript -->
    <script src="{{AppURL}}/js/jquery-3.4.1.min.js"></script>
    <script src="{{AppURL}}/js/semantic-2.4.1.min.js"></script>
    <script src="{{AppURL}}/js/anony.js?v={{MD5 AppVer}}"></script>

    <title>Anonymoe{{if .User}} - {{.User}}{{end}}</title>
</head>
<body>
    <div class="full height">
        <noscript>This website works better with JavaScript</noscript>
        <div class="header bar light">
            <
{{/*
    </div>
</body>
</html>
*/}}