{{template "base/header" .}}
<div class="home">
    <div class="ui stackable middle very relaxed page grid">
        <div class="sixteen wide center aligned centered column">
            <div class="logo">
                <img src="{{AppURL}}/img/logo.png" alt="Logo"/>
            </div>
            <div class="hero">
                <h1 class="ui icon header title">
                    {{AppName}}
                </h1>
                <h2>Effortless Electronic Mailbox</h2>
            </div>
        </div>
    </div>
    <div class="ui stackable middle very relaxed page grid">
        <div class="eight wide center column">
            <h1 class="hero ui icon header">
                <i class="octicon octicon-clock"></i> No Registration
            </h1>
            <p class="large">
                Simply <a rel="noopener noreferrer next" href="{{AppURL}}/inbox">create a random account</a> to
                instantly start receiving emails. No registration, no personal information, no hassle!
            </p>
        </div>
        <div class="eight wide center column">
            <h1 class="hero ui icon header">
                <i class="octicon octicon-star"></i> Free
            </h1>
            <p class="large">
                {{AppName}} is completely free! However, we do accept assistance in the form of raising bug reports and
                source code contributions.
            </p>
        </div>
    </div>
    <div class="ui stackable middle very relaxed page grid">
        <div class="four wide column"></div>
        <div class="eight wide center column">
            <h1 class="hero ui icon header">
                <i class="octicon octicon-code"></i> Open Source
            </h1>
            <p class="large">
                All source code is available on <a target="_blank" rel="noopener noreferrer"
                                                   href="https://github.com/philtyl/anonymoe">GitHub</a> under the <a
                        target="_blank" rel="noopener noreferrer"
                        href="https://github.com/philtyl/anonymoe/blob/master/LICENSE">MIT License</a>. Please
                contribute if you would like to help!
            </p>
        </div>
    </div>
</div>
{{template "base/footer" .}}