{{template "base/header" .}}
    {{if .Private}}
        {{template "model/private" .}}
    {{else}}
        <div id="inboxfeed">
            {{template "model/mailinbox" .}}
        </div>
    {{end}}
{{template "base/footer" .}}