.inbox {
  padding-bottom: @footer-margin + 5 !important;
  margin: 5px !important;

  .stackable {
    padding-top: 30px;
  }
}

.ui.image.label svg {
  display: inline-block;
  vertical-align: top;
  height: 2.1666em;
  margin: -0.5833em 0.5em -0.5833em -0.5em;
  border-radius: 0.28571429rem 0em 0em 0.28571429rem;
}

.private {
  padding-bottom: @footer-margin + 5 !important;
  margin-top: 20px !important;
}