<div class="ui private middle very relaxed page grid">
    <div class="ui icon message eight wide middle">
        <i class="clock outline icon"></i>
        <div class="content">
            <div class="header">
                Mailbox is empty for {{.User}}
            </div>
            <p>Ready to accept new Emails for user.  Once received they should show here.</p>
        </div>
    </div>
</div>