<div class="ui inbox middle very relaxed page grid one cards">
    {{if .Empty}}
        {{template "model/empty" .}}
    {{else}}
        {{range .Mail}}
            {{template "model/mailcard" .}}
        {{end}}
    {{end}}
</div>