{{- /*gotype: github.com/philtyl/anonymoe/models.Mail*/ -}}
<div class="ui raised segments">
    <h4 class="ui top attached header">{{.Subject}}</h4>
    <div class="ui attached segment expansive">
        {{Str2HTML .Body}}
    </div>
    <div class="ui bottom attached info message">
        <a href="mailto:{{.From}}" class="ui image label">
            <svg class="ui basic icon avatar" data-jdenticon-value="{{.From}}"></svg>
            {{.From}}
        </a>
        <div class="ui label">{{HumanTimeSince .SentUnix}}</div>
    </div>
</div>