<div class="ui private middle very relaxed page grid">
    <div class="ui icon message eight wide middle">
        <i class="user times icon"></i>
        <div class="content">
            <div class="header">
                Unable to access private mailbox for {{.User}}
            </div>
            <p>This mailbox is associated with privileged access, please create or select a different user.</p>
        </div>
    </div>
</div>